body {
    font-family:Montserrat;
}
/* 头部 */
.header {
    width: 100%;
    height: 1000px;
    background: url(../images/header_bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.header .header_title {
    font-size: 5em;
    font-weight: 300;
    color: #FFF;
    text-align: center;
    margin: 205px 0 80px 0;
}
.header p {
    display: block;
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    width: 770px;
    margin: 0 auto;
}

.header .sign {
    border: 1px solid rgba(153, 153, 153, 0.5);
    height: 250px;
    width: 970px;
    margin: 0 auto;
    margin-top: 105px;
}
.header .sign h1 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    color: #FFF;
    margin: 20px 0 14px 0;
}
.header .sign h2 {
    font-size: 1.1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
}
.header form {
    margin-top: 40px;
    text-align: center;
}
.header form input {
    width: 290px;
    height: 48px;
    background: none;
    border: 1px solid rgba(153, 153, 153, 0.5);
    text-indent: 25px;
    font-size: 1em;
    line-height: 50px;
    color: rgba(153, 153, 153, 0.5);
    margin-right: 30px;
}
.inputEmail {
    color: #FFF !important;
}
.header form button{
    width: 125px;
    height: 50px;
    border: none;
    text-align: center;
    line-height: 50px;
    background: #FFF;
    border-radius: 3px;
    cursor: pointer;
}

/* 功能 */
.main {
    width: 100%;
}
.fun {
    width: 100%;
    background: #fff;
    height: 710px;
}
.fun img {
    float: right;
}
.fun h2 {
    margin-top: 80px;
    margin-bottom: 32px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;    
}
.fun h1 {
    width: 660px;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}
.fun_list {
    width: 1030px;
    margin: 0 auto;
}
.fun_1,.fun_2,.fun_3,.fun_4 {
    float: left;
    width: 50%;
    height: 130px;
}
.fun_1 span,.fun_2 span ,.fun_3 span,.fun_4 span {
    margin-left: 65px;
    margin-right: 20px;
    display: block;
    float: left;
    width: 10%;
    height: 100%;
}
.fun_1 div,.fun_2 div ,.fun_3 div,.fun_4 div {
    float: left;
    height: 100%;
}
.fun h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}
.fun p {
    font-size: 1.3em;
    width: 355px;
    line-height: 23px;
}

/*  产品 */

.pro {
    position: relative;
    width: 100%;
    height: 800px;
    background: url(../images/pro_bg.gif) no-repeat;
    background-size: 100% 100%;
}
.pro_left {
    width: 970px;
    margin: 0 auto;
}
.pro_left h1 {
    height: 165px;
    width: 370px;
    font-size: 3.1em;
    color: #FFF;
    font-weight: 300;
    padding-top: 180px;
    margin-bottom: 45px;
}
.pro_left p {
    width: 370px;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 55px;
}
.pro_left button {
    height: 60px;
    width: 240px;
    border: 1px solid #FFF;
    border-radius: 3px;
    background: #FFF;
    margin-right: 30px;
    font-size: 1.3em;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.pro_left .nobg {
    cursor: pointer;
    background: none;
    color: #fff;
    border: 1px solid rgba(153, 153, 153, 0.5);
}
.pro_left button:last {
    height: 60px;
    width: 240px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    background: none;
}
.pro_right {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 100px;
    float: right;
    width: 645px;
    height: 600px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-right: none;
    border-radius: 45px 0 0 45px;
}
.pro_right_cir {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    margin-left: 30px;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 45%;
}
.pro_right_pad {
    height: 542px;
    width: 585px;
    float: right;
    margin-top: 30px;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-right: none;
    background: url(../images/pad.png) no-repeat;
}
